<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="main__header">
        <div class="main__header__logo">
          <p>TODO</p>
        </div>
        <div class="main__header__user">
          <div class="main__header__user__info">
            <p id="userName">Name</p>

            <p id="email">email</p>
          </div>
          <div class="main__header__user__photo"></div>
        </div>
      </div>
    </div>
  </body>
</html>
