<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Sing Up</title>
  </head>
  <body>
    <div class="sign-up">
      <h1 class="h1-sign-up">Sing Up</h1>
      <div class="form-floating">
        <input
          id="firstNameInput"
          class="form-control"
          placeholder="First Nam"
        />
        <p id="firstNameInputError" class="invalidInputMessage"></p>
        <label for="firstName">First Name</label>
      </div>
      <div class="form-floating">
        <input id="lastNameInput" class="form-control" placeholder="Last Nam" />
        <p id="lastNameInputError" class="invalidInputMessage"></p>
        <label for="lastName">Last Name</label>
      </div>
      <div class="form-floating">
        <input
          id="birthInput"
          type="date"
          class="form-control"
          placeholder="First Name"
        />
        <p id="birthInputError" class="invalidInputMessage"></p>
        <label for="firstName">Birth Day</label>
      </div>

      <div class="form-floating">
        <input
          id="emailInput"
          type="email"
          class="form-control"
          placeholder="name@example.com"
        />
        <p id="emailInputError" class="invalidInputMessage"></p>
        <p id="requiredEmailInputError" class="invalidInputMessage"></p>
        <label for="emailInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          id="passwordInput1"
          class="form-control"
          placeholder="Password"
        />
        <p id="passInputError1" class="invalidInputMessage"></p>
        <label for="passwordInput1">Password</label>
        <div class="form-floating">
          <input
            type="password"
            id="passwordInput2"
            class="form-control"
            placeholder="Password2"
          />
          <p id="passInputError2" class="invalidInputMessage"></p>
          <label for="passwordInput2">Password Repeat</label>
        </div>
      </div>
      <button
        disabled
        id="signUpBtn"
        type="button"
        class="btn btn-primary sign-in__btn"
      >
        Sign up
      </button>
      <p><a href="sign-in.html">I've already have an account. Go back</a></p>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
