@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@import '../style/colors.scss';
@import '../components/sign-in/sign-in.scss';
@import '../components/sign-up/sign-up.scss';
@import '../components/main/main.scss';
@import '../components/todo/todo.scss';
@import './mixins.scss';
@import '../components/find-users/find-users.scss';
@import '../components/header/header.scss';
@import '../components/user-details/user-details.scss';
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: $colorBody;
}

.invalid-input {
  border: 2px solid rgba(230, 58, 58, 0.801);
}

.spinner,
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.203);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-border {
    width: 10rem;
    height: 10rem;
  }
}

.notification {
  width: 250px;
  // height: 100px;
  padding: 5px;
  border: 1px solid $warning;
  position: absolute;
  flex-direction: row;
  z-index: 999;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.error {
    background-color: $warning;
    color: white;
  }

  &.success {
    background-color: $green;
  }
  p {
    font-size: 1rem;
  }
}
.hidden {
  display: none;
}
.modal-container {
  width: 50%;
  height: 150px;
  border: 2px solid rgb(3, 81, 55);
  background-color: rgb(179, 245, 225);
  border-radius: 10px;
  p {
    padding: 1%;
    font-size: 1.5rem;
    text-align: center;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    width: 85px;
    height: 40px;
    margin: 1%;
  }
}
.toggler {
  input {
    width: 60px;
    height: 20px;
  }
  span {
    display: inline-block;
    transform: translate(10px, 5px);
    font-weight: 600;
  }
}
